# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
luxury-react/src/luxury.js
luxury-react/node_modules/web3/dist/web3.js.map
luxury-react/node_modules/oboe/test/json/twentyThousandRecords.json
luxury-react/node_modules/aes-js/test/test-vectors.json
